.main {
    min-height: 100vh;
    /*background-color: #1f1f20;*/
    display: flex;
    justify-content: center;
}
.container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 150px;
}

.greeting{
    display: flex;
    flex-direction: column;

}
.greeting span:nth-child(1){
    font-size: 16px;
}
.greeting span:nth-child(2),
.greeting span:nth-child(2) span{
    font-weight: 700;
    font-stretch: normal;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 0;
}
.greeting span:nth-child(2) span:before{
    content: "";
    position: absolute;
    width: 75%;
    height: 15px;
    background-color: #6d98ff;
    bottom: -4px;
    z-index: -1;
}
.name{
    display: flex;
    flex-direction: column;

}
h1{
    font-size: 27px;

}
.photo{
    margin-top: 50px;
    position: relative;
    z-index: 1;
    transition: 2s;
}
.photo:hover{
    transform: scale(1.2, 1.2);
}
.image{
    height: 400px;
    width: 300px;
    background-image: url("../../Images/Avatar.jpg");
    background-size: cover;
    background-position: center;

}
.photo .image:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: aliceblue; */
    bottom: 7px;
    z-index: -1;
    left: 7px;
    border: 5px solid #6d98ff;
}
@media screen and (max-width: 600px){
    .image{
        height: 360px;
        width: 260px;
    }
}

@media screen and (max-width: 770px){
  .greeting{
      margin-top: 50px;
  }
    .container{
        margin-bottom: 100px;
    }
    .photo:hover{
        transform: scale(1, 1);
    }
    .greeting h1{
        font-size: 23px;
    }
    .greeting span:nth-child(2) span:before{
        width: 85%;


    }
}

