.About {

    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
    background: #1f1f20;
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
}

